{
  "openapi": "3.1.0",
  "info": {
    "title": "Yir Standard 异步 AIGC API",
    "version": "1.0.0-preview",
    "description": "Yir AI 图片与视频 API 路由的公开 REST API：报价并提交图片和视频生成任务、上传输入文件、读取模型合同、跟踪任务。\n\n兼容性：本 API 只做加法。新字段都是可选的，枚举可能新增取值，客户端必须忽略未知字段并容忍未知枚举值。模型及其参数、允许值和默认值来自模型合同（GET /v1/models?include=parameters），变化无需发布 SDK。已发布模型的默认值、取值含义和计费语义不变，任何一项变化都以新模型 ID 发布。ID 是不透明字符串，不要解析。废弃字段至少保留一个 SDK minor 版本，并在 SDK 变更记录中公告。"
  },
  "servers": [
    {
      "url": "https://gateway.yir.ai",
      "description": "Yir AI 图片与视频 API 路由（Bearer API Key 认证）"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Images"
    },
    {
      "name": "Videos"
    },
    {
      "name": "Files"
    },
    {
      "name": "Models"
    },
    {
      "name": "Jobs"
    }
  ],
  "paths": {
    "/v1/images/quotes": {
      "post": {
        "operationId": "quoteImageGeneration",
        "summary": "图片报价",
        "description": "估算图片生成请求的价格并检查可用渠道。不创建 Job，不收费。",
        "tags": [
          "Images"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StandardImageQuoteRequest"
              },
              "example": {
                "model": "openai/gpt-image-2",
                "input": {
                  "type": "text",
                  "prompt": "A quiet observatory above a sea of clouds"
                },
                "parameters": {
                  "resolution": "1K",
                  "aspect_ratio": "1:1",
                  "n": 1
                },
                "routing": {
                  "preference": "cost",
                  "fallback": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "当前参考报价",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Quote"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/NoExecutableRoute"
          },
          "503": {
            "$ref": "#/components/responses/TemporarilyUnavailable"
          }
        }
      }
    },
    "/v1/images/generations": {
      "post": {
        "operationId": "submitImageGeneration",
        "summary": "提交图片 Job",
        "tags": [
          "Images"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StandardImageGenerationRequest"
              },
              "example": {
                "model": "openai/gpt-image-2",
                "input": {
                  "type": "text",
                  "prompt": "A quiet observatory above a sea of clouds"
                },
                "parameters": {
                  "resolution": "1K",
                  "aspect_ratio": "1:1",
                  "n": 1
                },
                "routing": {
                  "preference": "cost",
                  "fallback": true
                },
                "webhook_url": "https://example.com/webhooks/yir"
              }
            }
          }
        },
        "responses": {
          "202": {
            "$ref": "#/components/responses/JobAccepted"
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientBalance"
          },
          "403": {
            "$ref": "#/components/responses/SpendLimitExceeded"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/NoExecutableRoute"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/TemporarilyUnavailable"
          }
        }
      }
    },
    "/v1/quotes": {
      "post": {
        "operationId": "quoteBatch",
        "summary": "批量报价（最多 20 个）",
        "description": "基于同一价格快照，为最多 20 个图片或视频请求报价。每个请求按对应单个报价接口的相同规则评估。无效请求只在自己的结果项中返回错误；价格数据或基础设施故障会使整个调用失败。本接口不列举模型规格，也不推断不同模型之间的等效画质。",
        "tags": [
          "Images",
          "Videos"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuoteBatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "按请求顺序返回的报价与逐项校验结果",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteBatch"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/NoExecutableRoute"
          },
          "503": {
            "$ref": "#/components/responses/TemporarilyUnavailable"
          }
        }
      }
    },
    "/v1/videos/quotes": {
      "post": {
        "operationId": "quoteVideoGeneration",
        "summary": "视频报价",
        "description": "估算视频生成请求的价格并检查可用渠道。不创建 Job，不收费。",
        "tags": [
          "Videos"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StandardVideoQuoteRequest"
              },
              "example": {
                "model": "bytedance/seedance-2.0",
                "input": {
                  "type": "text",
                  "prompt": "A paper boat crossing a rain-covered city street"
                },
                "parameters": {
                  "duration": 5,
                  "resolution": "720p",
                  "aspect_ratio": "16:9",
                  "generate_audio": false,
                  "n": 1
                },
                "routing": {
                  "preference": "cost",
                  "fallback": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "当前参考报价",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Quote"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/NoExecutableRoute"
          },
          "503": {
            "$ref": "#/components/responses/TemporarilyUnavailable"
          }
        }
      }
    },
    "/v1/videos/generations": {
      "post": {
        "operationId": "submitVideoGeneration",
        "summary": "提交视频 Job",
        "tags": [
          "Videos"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StandardVideoGenerationRequest"
              },
              "example": {
                "model": "bytedance/seedance-2.0",
                "input": {
                  "type": "image",
                  "prompt": "The subject turns toward the sunrise",
                  "references": [
                    {
                      "role": "first_frame",
                      "file_id": "file_11111111-1111-4111-8111-111111111111"
                    }
                  ]
                },
                "parameters": {
                  "duration": 4,
                  "resolution": "480p",
                  "aspect_ratio": "16:9",
                  "generate_audio": false,
                  "n": 1
                },
                "routing": {
                  "preference": "cost",
                  "fallback": true
                },
                "webhook_url": "https://example.com/webhooks/yir"
              }
            }
          }
        },
        "responses": {
          "202": {
            "$ref": "#/components/responses/JobAccepted"
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientBalance"
          },
          "403": {
            "$ref": "#/components/responses/SpendLimitExceeded"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/NoExecutableRoute"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/TemporarilyUnavailable"
          }
        }
      }
    },
    "/v1/files": {
      "post": {
        "operationId": "createFiles",
        "summary": "创建上传计划",
        "tags": [
          "Files"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/FileIdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFilesRequest"
              },
              "example": {
                "files": [
                  {
                    "name": "first-frame.png",
                    "media_type": "image/png",
                    "size": 1024
                  }
                ],
                "upload_mode": "auto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "上传计划已创建",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFilesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "503": {
            "$ref": "#/components/responses/TemporarilyUnavailable"
          }
        }
      }
    },
    "/v1/files/{id}/complete": {
      "post": {
        "operationId": "completeFile",
        "summary": "完成文件上传",
        "tags": [
          "Files"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/FileID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompleteFileRequest"
              },
              "example": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "当前文件快照",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "410": {
            "$ref": "#/components/responses/Gone"
          },
          "503": {
            "$ref": "#/components/responses/TemporarilyUnavailable"
          }
        }
      }
    },
    "/v1/files/{id}": {
      "get": {
        "operationId": "getFile",
        "summary": "获取文件",
        "tags": [
          "Files"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/FileID"
          }
        ],
        "responses": {
          "200": {
            "description": "当前文件快照",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/TemporarilyUnavailable"
          }
        }
      }
    },
    "/v1/files/{id}/content": {
      "get": {
        "operationId": "getFileContent",
        "summary": "下载文件内容",
        "tags": [
          "Files"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/FileID"
          }
        ],
        "responses": {
          "307": {
            "description": "临时重定向到短效签名 URL",
            "headers": {
              "Location": {
                "required": true,
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "410": {
            "$ref": "#/components/responses/Gone"
          },
          "503": {
            "$ref": "#/components/responses/TemporarilyUnavailable"
          }
        }
      }
    },
    "/v1/models": {
      "get": {
        "operationId": "listModelContracts",
        "summary": "列出模型",
        "description": "列出所支持模型的公开参数合同。默认返回模型身份与本地化名称；include=parameters 会展开操作、输入约束和参数规则。version 标识完整合同，精简与展开响应中相同。受支持不代表当前有可用渠道或可执行的报价。不返回价格或渠道细节。\n\n缓存：响应带 ETag（加引号的目录 version）与 Cache-Control: private, max-age=300。用持有的 ETag 发送 If-None-Match，目录未变时返回 304 Not Modified。当请求因 YIR_INVALID_REQUEST 失败、details 指向本地副本仍接受的参数或取值时，重新拉取目录。",
        "tags": [
          "Models"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "schema": {
              "type": "string",
              "const": "parameters"
            },
            "description": "展开公开参数合同。其他或重复的查询参数会被拒绝。"
          },
          {
            "$ref": "#/components/parameters/CatalogIfNoneMatch"
          }
        ],
        "responses": {
          "200": {
            "description": "精简或展开的模型合同",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/CatalogETag"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CatalogCacheControl"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ModelContractList"
                    },
                    {
                      "$ref": "#/components/schemas/ModelContractCatalog"
                    }
                  ]
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/CatalogNotModified"
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "503": {
            "$ref": "#/components/responses/TemporarilyUnavailable"
          }
        }
      }
    },
    "/v1/models/{creator}/{model}": {
      "get": {
        "operationId": "getModel",
        "summary": "获取模型",
        "description": "不带查询参数时返回模型详情，它反映实时价格与可用性，不缓存。view=contract 要求使用规范的 creator/model ID，返回与模型列表同一内容版本的公开参数合同，不查询价格或当前供应；它带与模型列表相同的 ETag 与 Cache-Control，并对 If-None-Match 回 304。别名可用于生成请求，但不是资源路径。",
        "tags": [
          "Models"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ModelCreator"
          },
          {
            "$ref": "#/components/parameters/ModelName"
          },
          {
            "name": "view",
            "in": "query",
            "schema": {
              "type": "string",
              "const": "contract"
            },
            "description": "返回公开参数合同；不接受其他查询参数。"
          },
          {
            "$ref": "#/components/parameters/CatalogIfNoneMatch"
          }
        ],
        "responses": {
          "200": {
            "description": "模型详情或带版本的参数合同",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ModelDetail"
                    },
                    {
                      "$ref": "#/components/schemas/ModelContractDetail"
                    }
                  ]
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/CatalogNotModified"
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/TemporarilyUnavailable"
          }
        }
      }
    },
    "/v1/jobs/{id}": {
      "get": {
        "operationId": "getJob",
        "summary": "获取 Job",
        "description": "Job 快照自创建起可读取 90 天，与请求日志的保留期相同。超过后接口返回 404，与未知 Job ID 的响应完全一致，不会透露属于哪种情况。",
        "tags": [
          "Jobs"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/JobID"
          }
        ],
        "responses": {
          "200": {
            "description": "当前 Job 快照",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/TemporarilyUnavailable"
          }
        }
      }
    },
    "/v1/jobs/{id}/status": {
      "get": {
        "operationId": "getJobStatus",
        "summary": "获取 Job 状态",
        "description": "返回精简的状态摘要，不加载尝试、账目或结果文件。与 Job 快照同样保留 90 天。带 wait 时为长轮询：已终态的 Job 立即返回；否则保持请求，直到状态或取消状态变化、或等待时间结束，再返回当前摘要。",
        "tags": [
          "Jobs"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/JobID"
          },
          {
            "name": "wait",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            },
            "description": "Job 未终态时保持请求的秒数。为 0 或省略时立即返回；大于 30 按 30 处理。客户端请求超时应长于等待时间。"
          }
        ],
        "responses": {
          "200": {
            "description": "当前 Job 状态摘要",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/TemporarilyUnavailable"
          }
        }
      }
    },
    "/v1/jobs/{id}/cancel": {
      "post": {
        "operationId": "cancelJob",
        "summary": "取消 Job",
        "description": "在提交到任何渠道之前取消，Job 变为 cancelled，不收费。提交之后取消，Yir 不再发起新的切换渠道尝试，当前尝试继续运行；上游已计费的每次尝试仍会收费。正在核对未知结果的 Job 取消后立即变为 cancelled，只对已确认上游计费的尝试收费。",
        "tags": [
          "Jobs"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/JobID"
          }
        ],
        "responses": {
          "200": {
            "description": "执行取消后的当前 Job 快照",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "503": {
            "$ref": "#/components/responses/TemporarilyUnavailable"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "YIR_API_KEY"
      }
    },
    "parameters": {
      "CatalogIfNoneMatch": {
        "name": "If-None-Match",
        "in": "header",
        "required": false,
        "description": "你持有的模型合同响应的 ETag（加引号的目录 version）。仍匹配时 API 返回无响应体的 304 Not Modified。只有合同响应支持它，模型详情不支持。",
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 200
        }
      },
      "FileIdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": false,
        "description": "创建上传计划时可选。用相同的键和相同的文件元数据重放，返回原计划；同一个键配不同的元数据会被拒绝。不带键时，每次请求都创建新计划。SDK 的文件辅助方法要求调用方持久化该键，以便恢复。",
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 200
        }
      },
      "IdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": true,
        "description": "必填。缺失或为空时返回不可重试的 400，此时不会创建任何资源，也不收费。用相同的键和相同的标准化请求重放，返回原结果；同一个键配不同的请求会被拒绝。SDK 的生成方法允许省略该键，此时每次调用生成一个随机键，且不会自动重试提交。请在提交前为每个逻辑请求持久化一个键；结果未知时，用该键和原请求重试。不显式传键的多次 SDK 调用可能创建多个计费 Job。已受理 Job 内部的服务端渠道切换与该请求头无关。",
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 200
        }
      },
      "JobID": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 64,
          "description": "不透明的 Job ID。"
        }
      },
      "FileID": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "$ref": "#/components/schemas/FileID"
        }
      },
      "ModelCreator": {
        "name": "creator",
        "in": "path",
        "required": true,
        "schema": {
          "$ref": "#/components/schemas/ModelPathSegment"
        }
      },
      "ModelName": {
        "name": "model",
        "in": "path",
        "required": true,
        "schema": {
          "$ref": "#/components/schemas/ModelPathSegment"
        }
      }
    },
    "headers": {
      "CatalogETag": {
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "加引号的目录 version；精简列表、展开列表与该版本的每个 view=contract 详情都相同。"
      },
      "CatalogCacheControl": {
        "required": true,
        "schema": {
          "type": "string",
          "const": "private, max-age=300"
        }
      }
    },
    "responses": {
      "CatalogNotModified": {
        "description": "模型合同自 If-None-Match 所指版本以来未变；无响应体。",
        "headers": {
          "ETag": {
            "$ref": "#/components/headers/CatalogETag"
          },
          "Cache-Control": {
            "$ref": "#/components/headers/CatalogCacheControl"
          }
        }
      },
      "JobAccepted": {
        "description": "Job 已受理",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Job"
            }
          }
        }
      },
      "InvalidRequest": {
        "$ref": "#/components/responses/StandardError"
      },
      "Unauthorized": {
        "$ref": "#/components/responses/StandardError"
      },
      "InsufficientBalance": {
        "$ref": "#/components/responses/StandardError"
      },
      "SpendLimitExceeded": {
        "$ref": "#/components/responses/StandardError"
      },
      "Conflict": {
        "$ref": "#/components/responses/StandardError"
      },
      "NoExecutableRoute": {
        "$ref": "#/components/responses/StandardError"
      },
      "RateLimited": {
        "$ref": "#/components/responses/StandardError"
      },
      "NotFound": {
        "$ref": "#/components/responses/StandardError"
      },
      "Gone": {
        "$ref": "#/components/responses/StandardError"
      },
      "TemporarilyUnavailable": {
        "$ref": "#/components/responses/StandardError"
      },
      "StandardError": {
        "description": "稳定的 Yir Standard 错误",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "ModelPathSegment": {
        "type": "string",
        "minLength": 1,
        "maxLength": 100,
        "pattern": "^[a-z0-9](?:[a-z0-9._-]*[a-z0-9])?$"
      },
      "FileID": {
        "type": "string",
        "pattern": "^file_[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"
      },
      "InputURL": {
        "type": "string",
        "format": "uri",
        "maxLength": 2048,
        "pattern": "^https://",
        "description": "参考图片、视频或音频文件的公开 HTTPS URL。Yir 在提交时下载一次（最大 100 MiB，最多 3 次重定向，拒绝私有和保留地址），按文件内容识别类型，并存为输入文件，使每次尝试与渠道切换都读取相同的内容。不接受 Data URL。无法导入的 URL 返回 YIR_INVALID_REQUEST 并指出对应的参考项；只有远端超时、连接失败、HTTP 429 和 5xx 时 retryable 为 true。报价不下载 URL，因此依赖输入媒体的价格只是估算；文件较大或需要按媒体精确报价时，请通过 Files API 上传。"
      },
      "RoutingOverride": {
        "type": "object",
        "additionalProperties": false,
        "description": "仅作用于本次请求的路由设置。only 是无序的渠道白名单，选择与切换渠道都限定在其中，并受 API Key 所绑定 Routing Profile 的渠道限制约束。only 与 variants 都接受 'official'，作为模型原厂渠道的别名（执行前归一化）。只写一项可用于定点测试。不支持自定义顺序。preference 和 fallback 仍为可选。",
        "properties": {
          "variants": {
            "type": "object",
            "minProperties": 1,
            "maxProperties": 16,
            "description": "为渠道选择渠道版本。未出现在此映射中的渠道会考虑所有可用版本；显式选择 standard 可把渠道限定为标准版。提供 only 时，键必须属于 only（'official' 别名在白名单校验前解析）。显式选择的版本未知或不可用时，绝不会回退到同一渠道的其他版本。",
            "propertyNames": {
              "type": "string",
              "minLength": 1,
              "maxLength": 50,
              "pattern": "^[a-z][a-z0-9]*(?:[-_][a-z0-9]+)*$"
            },
            "additionalProperties": {
              "type": "string",
              "minLength": 1,
              "maxLength": 50,
              "pattern": "^[a-z][a-z0-9]*(?:[-_][a-z0-9]+)*$"
            }
          },
          "preference": {
            "type": "string",
            "enum": [
              "cost",
              "speed"
            ],
            "description": "覆盖路由配置的默认排序方式。cost（默认）按估价从低到高排序路线。speed 按同一模型与规格观测到的上游中位延迟从快到慢排序；近期样本少于 10 个的路线排在后面，并按估价排序。max_cost、only 与 fallback 照常生效。"
          },
          "only": {
            "type": "array",
            "minItems": 1,
            "maxItems": 16,
            "uniqueItems": true,
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 50,
              "pattern": "^[a-z][a-z0-9]*(?:[-_][a-z0-9]+)*$"
            }
          },
          "fallback": {
            "type": "boolean"
          }
        }
      },
      "StandardImageTextInput": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "type",
          "prompt"
        ],
        "properties": {
          "type": {
            "type": "string",
            "const": "text"
          },
          "prompt": {
            "type": "string",
            "minLength": 1,
            "maxLength": 20000,
            "pattern": "\\S"
          }
        }
      },
      "StandardImageReferenceInput": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "type",
          "prompt",
          "references"
        ],
        "properties": {
          "type": {
            "type": "string",
            "const": "image"
          },
          "prompt": {
            "type": "string",
            "minLength": 1,
            "maxLength": 20000,
            "pattern": "\\S"
          },
          "references": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "role"
              ],
              "properties": {
                "role": {
                  "type": "string",
                  "enum": [
                    "reference_image"
                  ]
                },
                "file_id": {
                  "$ref": "#/components/schemas/FileID"
                },
                "url": {
                  "$ref": "#/components/schemas/InputURL"
                }
              },
              "oneOf": [
                {
                  "required": [
                    "file_id"
                  ]
                },
                {
                  "required": [
                    "url"
                  ]
                }
              ]
            },
            "description": "有序的参考输入。数量与必需的角色由模型合同决定。"
          }
        }
      },
      "ActualBillingMode": {
        "type": "string",
        "const": "actual",
        "description": "显式同意按 Job 每次上游计费尝试的权威实际费用收费，不设 max_cost 上限。仅支持 KIE/APIMart 的 Kling 2.6/3.0 Motion Control 与 FAL 的 FLUX 2 Pro 图片编辑，routing.only 必须显式选择这些渠道。不能与 max_cost 同时使用。钱包余额不足的部分记为 Job 欠款，由之后的手动充值偿还；有未偿欠款时拒绝新 Job。上游实际计费的每次尝试都向用户收费，包括失败的和未胜出的尝试；上游未计费的尝试，以及 Yir 自身的交付失败或结果超时，不收费。省略时使用默认合同：不冻结余额，每次尝试前按实时余额核对该路由的估价，上游计费的每次尝试按上游权威金额乘以托管折扣收费，显式设置的 max_cost 为 Job 总费用封顶。"
      },
      "StandardImageGenerationRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "model",
          "input",
          "parameters"
        ],
        "properties": {
          "billing_mode": {
            "$ref": "#/components/schemas/ActualBillingMode"
          },
          "max_cost": {
            "$ref": "#/components/schemas/MaxCost"
          },
          "model": {
            "type": "string",
            "minLength": 1,
            "description": "GET /v1/models 列出的模型 ID 或别名。未知或已下架的模型返回 400 YIR_INVALID_REQUEST，retryable 为 false；已下架模型的 message 会给出替代型号。"
          },
          "input": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/StandardImageTextInput"
              },
              {
                "$ref": "#/components/schemas/StandardImageReferenceInput"
              }
            ]
          },
          "routing": {
            "$ref": "#/components/schemas/RoutingOverride"
          },
          "webhook_url": {
            "type": "string",
            "format": "uri",
            "maxLength": 1000,
            "pattern": "^https://"
          },
          "parameters": {
            "type": "object",
            "additionalProperties": true,
            "description": "生成参数。模型合同（GET /v1/models?include=parameters）列出每个模型的参数、允许值和默认值；此处只说明通用参数。省略的参数取模型公布的默认值；模型合同未列出的参数会被拒绝。",
            "properties": {
              "quality": {
                "type": "string",
                "description": "最低图片画质档位，可选值由模型合同决定。对 GPT Image 而言，该档位是路由约束：只有支持该档位的渠道会执行请求，且不会被忽略或降级。省略时任何渠道都可执行，支持画质档位的渠道使用 medium。不接受 auto。"
              },
              "resolution": {
                "type": "string",
                "minLength": 1
              },
              "aspect_ratio": {
                "type": "string",
                "minLength": 1
              },
              "n": {
                "type": "integer",
                "enum": [
                  1
                ]
              }
            }
          }
        },
        "description": "可移植的图片请求结构。每个模型、输入模式与参数组合都按模型合同校验；没有路由能执行时，请求会被拒绝。"
      },
      "StandardImageQuoteRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "model",
          "input",
          "parameters"
        ],
        "properties": {
          "billing_mode": {
            "$ref": "#/components/schemas/ActualBillingMode"
          },
          "model": {
            "type": "string",
            "minLength": 1,
            "description": "GET /v1/models 列出的模型 ID 或别名。未知或已下架的模型返回 400 YIR_INVALID_REQUEST，retryable 为 false；已下架模型的 message 会给出替代型号。"
          },
          "input": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/StandardImageTextInput"
              },
              {
                "$ref": "#/components/schemas/StandardImageReferenceInput"
              }
            ]
          },
          "routing": {
            "$ref": "#/components/schemas/RoutingOverride"
          },
          "parameters": {
            "type": "object",
            "additionalProperties": true,
            "description": "生成参数。模型合同（GET /v1/models?include=parameters）列出每个模型的参数、允许值和默认值；此处只说明通用参数。省略的参数取模型公布的默认值；模型合同未列出的参数会被拒绝。",
            "properties": {
              "quality": {
                "type": "string",
                "description": "最低图片画质档位，可选值由模型合同决定。对 GPT Image 而言，该档位是路由约束：只有支持该档位的渠道会执行请求，且不会被忽略或降级。省略时任何渠道都可执行，支持画质档位的渠道使用 medium。不接受 auto。"
              },
              "resolution": {
                "type": "string",
                "minLength": 1
              },
              "aspect_ratio": {
                "type": "string",
                "minLength": 1
              },
              "n": {
                "type": "integer",
                "enum": [
                  1
                ]
              }
            }
          }
        },
        "description": "图片生成请求合同，但不含 webhook_url 和 max_cost。报价不创建 Job，不收费。"
      },
      "StandardVideoTextInput": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "type",
          "prompt"
        ],
        "properties": {
          "type": {
            "type": "string",
            "const": "text"
          },
          "prompt": {
            "type": "string",
            "minLength": 1,
            "maxLength": 20000,
            "pattern": "\\S"
          }
        }
      },
      "StandardVideoImageInput": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "type",
          "prompt",
          "references"
        ],
        "properties": {
          "type": {
            "type": "string",
            "const": "image"
          },
          "prompt": {
            "type": "string",
            "minLength": 1,
            "maxLength": 20000,
            "pattern": "\\S"
          },
          "references": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "role"
              ],
              "properties": {
                "role": {
                  "type": "string",
                  "enum": [
                    "first_frame",
                    "last_frame"
                  ]
                },
                "file_id": {
                  "$ref": "#/components/schemas/FileID"
                },
                "url": {
                  "$ref": "#/components/schemas/InputURL"
                }
              },
              "oneOf": [
                {
                  "required": [
                    "file_id"
                  ]
                },
                {
                  "required": [
                    "url"
                  ]
                }
              ]
            },
            "description": "有序的参考输入。数量与必需的角色由模型合同决定。"
          }
        }
      },
      "StandardVideoReferenceInput": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "type",
          "prompt",
          "references"
        ],
        "properties": {
          "type": {
            "type": "string",
            "const": "reference"
          },
          "prompt": {
            "type": "string",
            "minLength": 1,
            "maxLength": 20000,
            "pattern": "\\S"
          },
          "references": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "role"
              ],
              "properties": {
                "role": {
                  "type": "string",
                  "enum": [
                    "reference_image",
                    "reference_video",
                    "reference_audio"
                  ]
                },
                "file_id": {
                  "$ref": "#/components/schemas/FileID"
                },
                "url": {
                  "$ref": "#/components/schemas/InputURL"
                }
              },
              "oneOf": [
                {
                  "required": [
                    "file_id"
                  ]
                },
                {
                  "required": [
                    "url"
                  ]
                }
              ]
            },
            "description": "有序的参考输入。数量与必需的角色由模型合同决定。"
          }
        }
      },
      "StandardVideoGenerationRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "model",
          "input",
          "parameters"
        ],
        "properties": {
          "billing_mode": {
            "$ref": "#/components/schemas/ActualBillingMode"
          },
          "max_cost": {
            "$ref": "#/components/schemas/MaxCost"
          },
          "model": {
            "type": "string",
            "minLength": 1,
            "description": "GET /v1/models 列出的模型 ID 或别名。未知或已下架的模型返回 400 YIR_INVALID_REQUEST，retryable 为 false；已下架模型的 message 会给出替代型号。"
          },
          "input": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/StandardVideoTextInput"
              },
              {
                "$ref": "#/components/schemas/StandardVideoImageInput"
              },
              {
                "$ref": "#/components/schemas/StandardVideoReferenceInput"
              }
            ]
          },
          "routing": {
            "$ref": "#/components/schemas/RoutingOverride"
          },
          "webhook_url": {
            "type": "string",
            "format": "uri",
            "maxLength": 1000,
            "pattern": "^https://"
          },
          "parameters": {
            "type": "object",
            "additionalProperties": true,
            "description": "生成参数。模型合同（GET /v1/models?include=parameters）列出每个模型的参数、允许值和默认值；此处只说明通用参数。省略的参数取模型公布的默认值；模型合同未列出的参数会被拒绝。",
            "properties": {
              "duration": {
                "type": "integer",
                "minimum": 1,
                "description": "输出时长（秒），允许值来自模型合同。"
              },
              "resolution": {
                "type": "string",
                "minLength": 1
              },
              "aspect_ratio": {
                "type": "string",
                "minLength": 1
              },
              "generate_audio": {
                "type": "boolean"
              },
              "n": {
                "type": "integer",
                "enum": [
                  1
                ]
              }
            }
          }
        },
        "description": "可移植的视频请求结构。每个模型、输入模式与参数组合都按模型合同校验；没有路由能执行时，请求会被拒绝。"
      },
      "StandardVideoQuoteRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "model",
          "input",
          "parameters"
        ],
        "properties": {
          "billing_mode": {
            "$ref": "#/components/schemas/ActualBillingMode"
          },
          "model": {
            "type": "string",
            "minLength": 1,
            "description": "GET /v1/models 列出的模型 ID 或别名。未知或已下架的模型返回 400 YIR_INVALID_REQUEST，retryable 为 false；已下架模型的 message 会给出替代型号。"
          },
          "input": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/StandardVideoTextInput"
              },
              {
                "$ref": "#/components/schemas/StandardVideoImageInput"
              },
              {
                "$ref": "#/components/schemas/StandardVideoReferenceInput"
              }
            ]
          },
          "routing": {
            "$ref": "#/components/schemas/RoutingOverride"
          },
          "parameters": {
            "type": "object",
            "additionalProperties": true,
            "description": "生成参数。模型合同（GET /v1/models?include=parameters）列出每个模型的参数、允许值和默认值；此处只说明通用参数。省略的参数取模型公布的默认值；模型合同未列出的参数会被拒绝。",
            "properties": {
              "duration": {
                "type": "integer",
                "minimum": 1,
                "description": "输出时长（秒），允许值来自模型合同。"
              },
              "resolution": {
                "type": "string",
                "minLength": 1
              },
              "aspect_ratio": {
                "type": "string",
                "minLength": 1
              },
              "generate_audio": {
                "type": "boolean"
              },
              "n": {
                "type": "integer",
                "enum": [
                  1
                ]
              }
            }
          }
        },
        "description": "视频生成请求合同，但不含 webhook_url 和 max_cost。报价不创建 Job，不收费。"
      },
      "MaxCost": {
        "type": "string",
        "pattern": "^[0-9]{1,13}(\\.[0-9]{1,6})?$",
        "maxLength": 20,
        "description": "可选，Job 总费用的美元上限，最多六位小数。不冻结余额：准入与每次提交尝试前，都按实时可用余额核对该路由的估价（固定价路由用目录价，按用量计费的路由用输出估价）。上游实际计费的每次尝试，都按上游权威金额乘以托管折扣收费，无论成功、失败还是之后切换了渠道；上游从未计费的尝试不收费，Yir 自身的交付失败与结果超时由 Yir 承担。上游已计费、但被 Yir 以 `YIR_CONTENT_REJECTED` 拦截的结果，同样收费但不交付。余额不足的部分记为负余额，充值前拒绝新 Job。设置 max_cost 时，估价超过它的路由会被跳过，Job 所有尝试的总费用绝不超过它，超出部分由 Yir 承担。没有路由能满足时，请求以 422 `YIR_BUDGET_EXCEEDED` 拒绝，并给出当前最低估价。估价不锁定：渠道可用性、路由默认值和目录价格都可能改变估价，过紧的上限可能开始拒绝原本能通过的请求。请在报价之上留出余量；收到 `YIR_BUDGET_EXCEEDED` 时先重新报价，再决定是否调高上限。历史 Job 保留其记录的计费条款。"
      },
      "QuoteBatchRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "requests"
        ],
        "properties": {
          "requests": {
            "type": "array",
            "minItems": 1,
            "maxItems": 20,
            "items": {
              "oneOf": [
                {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "operation",
                    "request"
                  ],
                  "properties": {
                    "operation": {
                      "const": "generate_image"
                    },
                    "request": {
                      "$ref": "#/components/schemas/StandardImageQuoteRequest"
                    }
                  }
                },
                {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "operation",
                    "request"
                  ],
                  "properties": {
                    "operation": {
                      "const": "generate_video"
                    },
                    "request": {
                      "$ref": "#/components/schemas/StandardVideoQuoteRequest"
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "QuoteBatch": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "object",
          "data",
          "request_id"
        ],
        "properties": {
          "object": {
            "const": "quote_batch"
          },
          "data": {
            "type": "array",
            "minItems": 1,
            "maxItems": 20,
            "items": {
              "$ref": "#/components/schemas/QuoteBatchItem"
            }
          },
          "request_id": {
            "type": "string",
            "minLength": 1
          }
        }
      },
      "QuoteBatchItem": {
        "oneOf": [
          {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "index",
              "quote"
            ],
            "properties": {
              "index": {
                "type": "integer",
                "minimum": 0,
                "maximum": 19
              },
              "quote": {
                "$ref": "#/components/schemas/Quote"
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "index",
              "error"
            ],
            "properties": {
              "index": {
                "type": "integer",
                "minimum": 0,
                "maximum": 19
              },
              "error": {
                "$ref": "#/components/schemas/Error"
              }
            }
          }
        ]
      },
      "Quote": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "supply",
          "object",
          "model",
          "operation",
          "input_mode",
          "parameters",
          "currency",
          "expires_at",
          "primary",
          "official"
        ],
        "properties": {
          "parameter_notices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ParameterNotice"
            },
            "description": "首选渠道的预期处理方式；实际处理方式以成功的 Job 为准。"
          },
          "billing_mode": {
            "$ref": "#/components/schemas/ActualBillingMode"
          },
          "parameter_handling_may_vary": {
            "type": "boolean",
            "description": "切换渠道后，参数的处理方式可能不同。"
          },
          "supply": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "available",
              "issues"
            ],
            "properties": {
              "available": {
                "type": "boolean"
              },
              "issues": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "no_matching_supply"
                  ]
                }
              }
            },
            "description": "当前是否有路由能执行此请求。有可用渠道时 issues 为空数组。没有匹配渠道时返回 available=false 与 no_matching_supply，primary 为 unavailable。认证失败、无效请求和基础设施故障仍以错误返回。"
          },
          "object": {
            "type": "string",
            "const": "quote"
          },
          "model": {
            "type": "string",
            "minLength": 1,
            "description": "规范模型 ID；请求使用别名时也返回规范 ID。"
          },
          "operation": {
            "type": "string",
            "enum": [
              "generate_image",
              "generate_video"
            ]
          },
          "input_mode": {
            "type": "string",
            "enum": [
              "text",
              "image",
              "reference"
            ]
          },
          "parameters": {
            "$ref": "#/components/schemas/QuoteParameters"
          },
          "currency": {
            "type": "string",
            "const": "USD"
          },
          "expires_at": {
            "type": "integer",
            "format": "int64",
            "minimum": 1
          },
          "primary": {
            "description": "当前首选路由的估价：固定价路由为目录参考价，按用量计费的路由为仅含输出的估价；否则为 unavailable。Job 按各次计费尝试的上游权威金额乘以托管折扣收费，可能与此估价不同。仅含输出的估价不含输入费用；两者都不是收费上限，提交时会重新核对当前数据。独立的官方参考价见 official。",
            "oneOf": [
              {
                "$ref": "#/components/schemas/OutputQuoteEstimate"
              },
              {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "kind",
                  "amount"
                ],
                "properties": {
                  "kind": {
                    "const": "fixed"
                  },
                  "amount": {
                    "$ref": "#/components/schemas/Decimal"
                  }
                }
              },
              {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "kind",
                  "amount",
                  "reason"
                ],
                "properties": {
                  "kind": {
                    "const": "unavailable"
                  },
                  "amount": {
                    "type": "null"
                  },
                  "reason": {
                    "type": "string",
                    "minLength": 1
                  }
                }
              }
            ]
          },
          "official": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/OutputQuoteEstimate"
              },
              {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "kind",
                  "amount"
                ],
                "properties": {
                  "kind": {
                    "const": "fixed"
                  },
                  "amount": {
                    "$ref": "#/components/schemas/Decimal"
                  }
                }
              },
              {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "kind",
                  "amount",
                  "reason"
                ],
                "properties": {
                  "kind": {
                    "const": "unavailable"
                  },
                  "amount": {
                    "type": "null"
                  },
                  "reason": {
                    "type": "string",
                    "minLength": 1
                  }
                }
              }
            ]
          },
          "price_difference_percent": {
            "type": "object",
            "additionalProperties": false,
            "description": "可选，与官方参考价的对比。负数表示 Yir 价格更低。完整固定价只与完整固定价比较。仅含输出的估价只有在两者采用相同输出假设时才比较，且该比较不含输入及其他费用。",
            "required": [
              "min",
              "max"
            ],
            "properties": {
              "min": {
                "type": "number"
              },
              "max": {
                "type": "number"
              },
              "reference_amount_micros": {
                "type": "integer",
                "format": "int64",
                "minimum": 0
              }
            }
          }
        }
      },
      "OutputQuoteEstimate": {
        "type": "object",
        "additionalProperties": false,
        "description": "仅含生成输出，不含输入及其他费用。不是授权上限。",
        "required": [
          "kind",
          "amount",
          "estimate"
        ],
        "properties": {
          "kind": {
            "const": "estimate"
          },
          "amount": {
            "$ref": "#/components/schemas/Decimal"
          },
          "estimate": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "scope"
            ],
            "oneOf": [
              {
                "required": [
                  "output_tokens"
                ]
              },
              {
                "required": [
                  "output_megapixels"
                ]
              }
            ],
            "properties": {
              "scope": {
                "const": "output_only"
              },
              "output_tokens": {
                "type": "integer",
                "minimum": 1,
                "maximum": 1000000
              },
              "output_megapixels": {
                "type": "integer",
                "minimum": 1,
                "maximum": 1000000,
                "description": "按模型声明的像素单位计算的计费输出百万像素数（整数），不含输入百万像素。与 output_tokens 互斥。"
              },
              "quality": {
                "type": "string",
                "minLength": 1,
                "description": "输出估价采用的参考画质。省略画质时，如目录中有 medium 参考则使用它；这不会改变生成参数。"
              },
              "aspect_ratio": {
                "type": "string",
                "minLength": 1,
                "description": "输出估价采用的参考宽高比。自动宽高比在有声明的方形参考时使用它；显式选择的不支持比例仍为 unavailable。"
              }
            }
          }
        }
      },
      "QuoteParameters": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "resolution",
          "aspect_ratio",
          "n"
        ],
        "description": "请求规范化后的参数：模型合同为该操作声明的每个参数，按合同写法，省略的参数取已发布默认值。模型未声明的参数不出现，因此图片回显没有 duration，无音轨的视频模型没有 generate_audio。这里只记录通用参数；模型专属参数按合同名回显。",
        "properties": {
          "quality": {
            "type": "string",
            "minLength": 1,
            "description": "请求约束的图片画质档位；省略时不出现，表示任何渠道都可执行。"
          },
          "duration": {
            "type": "integer",
            "minimum": 1,
            "description": "视频输出秒数；模型声明 duration 时出现。"
          },
          "resolution": {
            "type": "string",
            "minLength": 1
          },
          "aspect_ratio": {
            "type": "string",
            "minLength": 1
          },
          "generate_audio": {
            "type": "boolean",
            "description": "模型声明 generate_audio 时出现。"
          },
          "n": {
            "type": "integer",
            "minimum": 1
          }
        }
      },
      "Error": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "code",
          "message",
          "retryable"
        ],
        "properties": {
          "code": {
            "type": "string",
            "enum": [
              "YIR_INVALID_REQUEST",
              "YIR_UNAUTHORIZED",
              "YIR_INVALID_ROUTING_OVERRIDE",
              "YIR_ROUTING_OVERRIDE_NOT_ALLOWED",
              "YIR_INSUFFICIENT_BALANCE",
              "YIR_BUDGET_EXCEEDED",
              "YIR_SPEND_LIMIT_EXCEEDED",
              "YIR_JOB_NOT_FOUND",
              "YIR_FILE_NOT_FOUND",
              "YIR_FILE_NOT_READY",
              "YIR_FILE_EXPIRED",
              "YIR_MODEL_NOT_FOUND",
              "YIR_IDEMPOTENCY_CONFLICT",
              "YIR_JOB_NOT_CANCELLABLE",
              "YIR_NO_EXECUTABLE_ROUTE",
              "YIR_RATE_LIMITED",
              "YIR_TEMPORARILY_UNAVAILABLE",
              "YIR_EXECUTION_FAILED",
              "YIR_CONTENT_REJECTED",
              "YIR_OUTCOME_TIMEOUT",
              "YIR_RESULT_DELIVERY_FAILED",
              "YIR_JOB_TIMEOUT"
            ]
          },
          "message": {
            "type": "string",
            "minLength": 1
          },
          "retryable": {
            "type": "boolean"
          },
          "action": {
            "type": "string",
            "enum": [
              "fix_request",
              "modify_input",
              "add_funds",
              "retry_later",
              "contact_support"
            ]
          },
          "details": {
            "type": "array",
            "minItems": 1,
            "description": "YIR_INVALID_REQUEST 错误的字段级原因，用于修正请求而无需解析 message。",
            "items": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "field",
                "reason"
              ],
              "properties": {
                "field": {
                  "type": "string",
                  "minLength": 1,
                  "description": "请求中的字段路径，例如 parameters.resolution 或 input.references.0.role。"
                },
                "reason": {
                  "type": "string",
                  "enum": [
                    "invalid_body",
                    "unknown_field",
                    "wrong_type",
                    "required",
                    "unsupported",
                    "not_allowed",
                    "invalid",
                    "retired"
                  ]
                },
                "allowed": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "该字段接受的合同取值；对于已下架模型，为替代模型。"
                },
                "expected": {
                  "type": "string",
                  "description": "期望的类型或条件。"
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "error",
          "request_id"
        ],
        "properties": {
          "error": {
            "$ref": "#/components/schemas/Error"
          },
          "request_id": {
            "type": "string",
            "minLength": 1
          }
        }
      },
      "Job": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "id",
          "object",
          "status",
          "model",
          "error",
          "created_at"
        ],
        "properties": {
          "parameter_notices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ParameterNotice"
            },
            "description": "取自成功尝试快照的实际处理方式；成功前省略。"
          },
          "id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 64,
            "description": "不透明的 Job ID，不要解析。"
          },
          "object": {
            "type": "string",
            "const": "job"
          },
          "final_provider": {
            "type": "string",
            "minLength": 1,
            "description": "被采用结果所属的渠道，仅成功的 Job 返回。不暴露候选路由。"
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "running",
              "delivering",
              "succeeded",
              "failed",
              "cancelled"
            ]
          },
          "model": {
            "type": "string",
            "minLength": 1
          },
          "parameters": {
            "$ref": "#/components/schemas/QuoteParameters",
            "description": "Job 实际执行的规范化参数，与报价回显同形，供调用方核对交付结果与扣费。自创建起即存在。"
          },
          "urls": {
            "$ref": "#/components/schemas/JobURLs"
          },
          "result": {
            "$ref": "#/components/schemas/Result"
          },
          "usage": {
            "$ref": "#/components/schemas/JobUsage"
          },
          "billing": {
            "$ref": "#/components/schemas/Billing"
          },
          "error": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/Error"
              },
              {
                "type": "null"
              }
            ]
          },
          "cancellation": {
            "$ref": "#/components/schemas/Cancellation"
          },
          "created_at": {
            "type": "integer",
            "format": "int64",
            "minimum": 1
          },
          "completed_at": {
            "type": "integer",
            "format": "int64",
            "minimum": 1
          }
        }
      },
      "JobStatusResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "id",
          "status",
          "error"
        ],
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 64,
            "description": "不透明的 Job ID，不要解析。"
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "running",
              "delivering",
              "succeeded",
              "failed",
              "cancelled"
            ]
          },
          "error": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/Error"
              },
              {
                "type": "null"
              }
            ]
          },
          "cancellation": {
            "$ref": "#/components/schemas/Cancellation"
          }
        }
      },
      "JobURLs": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "get",
          "cancel"
        ],
        "properties": {
          "get": {
            "type": "string",
            "pattern": "^/v1/jobs/[^/]+$"
          },
          "cancel": {
            "type": "string",
            "pattern": "^/v1/jobs/[^/]+/cancel$"
          }
        }
      },
      "ResultContentSafety": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "status"
        ],
        "description": "已交付结果的 NSFW 检查结果。`passed` 且 `checked_by: provider` 表示由上游渠道执行内容审核；`passed` 且 `checked_by: yir` 表示由 Yir 自行检查输出。`unchecked` 表示输出检查不可用或无法执行。Yir 的输出检查只拦截露骨的成人内容。历史结果不返回此字段。",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "passed",
              "unchecked"
            ]
          },
          "checked_by": {
            "type": "string",
            "enum": [
              "provider",
              "yir"
            ]
          }
        }
      },
      "Result": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "availability"
        ],
        "properties": {
          "availability": {
            "type": "string",
            "enum": [
              "available",
              "expired"
            ]
          },
          "files": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/ResultFile"
            }
          },
          "warnings": {
            "type": "array",
            "minItems": 1,
            "maxItems": 1,
            "uniqueItems": true,
            "items": {
              "type": "string",
              "enum": [
                "additional_results_unavailable"
              ]
            },
            "description": "主结果已交付，但一个可选的附加结果未能交付。不改变 Job 的成功状态，也不授权重新生成。没有交付警告时省略，历史结果同样省略。"
          },
          "content_safety": {
            "$ref": "#/components/schemas/ResultContentSafety"
          }
        },
        "oneOf": [
          {
            "properties": {
              "availability": {
                "const": "available"
              }
            },
            "required": [
              "files"
            ]
          },
          {
            "properties": {
              "availability": {
                "const": "expired"
              }
            },
            "not": {
              "required": [
                "files"
              ]
            }
          }
        ]
      },
      "ResultFile": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "url",
          "media_type",
          "expires_at"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "pattern": "^https://"
          },
          "media_type": {
            "type": "string",
            "minLength": 3
          },
          "width": {
            "type": "integer",
            "minimum": 0
          },
          "height": {
            "type": "integer",
            "minimum": 0
          },
          "expires_at": {
            "type": "integer",
            "format": "int64",
            "minimum": 1
          }
        }
      },
      "JobUsage": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "outputs"
        ],
        "properties": {
          "outputs": {
            "type": "integer",
            "minimum": 0
          }
        }
      },
      "Cancellation": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "status",
          "requested_at"
        ],
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "cancelled",
              "stop_requested"
            ]
          },
          "effect": {
            "type": "string",
            "enum": [
              "stop_future_attempts"
            ]
          },
          "requested_at": {
            "type": "integer",
            "format": "int64",
            "minimum": 1
          }
        }
      },
      "Billing": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "currency",
          "compute_charges",
          "gateway_fee",
          "total_charged_by_yir"
        ],
        "properties": {
          "billing_mode": {
            "$ref": "#/components/schemas/ActualBillingMode"
          },
          "currency": {
            "type": "string",
            "const": "USD"
          },
          "compute_charges": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ComputeCharge"
            }
          },
          "gateway_fee": {
            "$ref": "#/components/schemas/GatewayFee"
          },
          "total_charged_by_yir": {
            "$ref": "#/components/schemas/Decimal"
          },
          "max_cost": {
            "$ref": "#/components/schemas/MaxCost"
          },
          "official_comparison": {
            "$ref": "#/components/schemas/OfficialComparison"
          }
        }
      },
      "ComputeCharge": {
        "type": "object",
        "description": "由 Yir 收费的托管供应的只读计费数据。",
        "additionalProperties": false,
        "required": [
          "supply_type",
          "billed_by",
          "amount",
          "amount_basis",
          "status"
        ],
        "properties": {
          "supply_type": {
            "type": "string",
            "enum": [
              "managed"
            ],
            "description": "固定为 managed：由 Yir 采购并运行供应。"
          },
          "billed_by": {
            "type": "string",
            "enum": [
              "yir"
            ],
            "description": "固定为 yir：费用从你的 Yir 钱包扣除。"
          },
          "amount": {
            "$ref": "#/components/schemas/Decimal"
          },
          "amount_basis": {
            "type": "string",
            "enum": [
              "yir_price_rule"
            ],
            "description": "固定为 yir_price_rule：该次尝试的渠道上游实际费用 × 你的折扣，见「报价与计费」。"
          },
          "usage": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Usage"
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "settled",
              "waived"
            ]
          }
        }
      },
      "Usage": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "metric",
          "quantity",
          "unit"
        ],
        "properties": {
          "metric": {
            "type": "string",
            "pattern": "^[a-z][a-z0-9_]*$"
          },
          "quantity": {
            "$ref": "#/components/schemas/Decimal"
          },
          "unit": {
            "type": "string",
            "pattern": "^[a-z][a-z0-9_]*$"
          }
        }
      },
      "GatewayFee": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "amount",
          "status"
        ],
        "properties": {
          "amount": {
            "$ref": "#/components/schemas/Decimal"
          },
          "status": {
            "type": "string",
            "enum": [
              "settled",
              "waived"
            ]
          }
        }
      },
      "OfficialComparison": {
        "type": "object",
        "additionalProperties": false,
        "description": "仅成功的 Job 返回。为该请求在准入时冻结的完整固定美元官方价。节省金额为基准价减去 Yir 的全部收费（含恢复尝试），可能为负。历史 Job、动态价格和缺少基准价时省略。",
        "required": [
          "baseline_amount",
          "savings_amount"
        ],
        "properties": {
          "baseline_amount": {
            "$ref": "#/components/schemas/Decimal"
          },
          "savings_amount": {
            "type": "string",
            "pattern": "^-?[0-9]+(?:\\.[0-9]+)?$"
          },
          "source_url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "Decimal": {
        "type": "string",
        "pattern": "^(0|[0-9]+)(\\.[0-9]+)?$"
      },
      "CreateFilesRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "files"
        ],
        "properties": {
          "files": {
            "type": "array",
            "minItems": 1,
            "maxItems": 20,
            "items": {
              "$ref": "#/components/schemas/CreateFile"
            }
          },
          "upload_mode": {
            "type": "string",
            "enum": [
              "auto",
              "multipart"
            ],
            "default": "auto"
          }
        }
      },
      "CreateFile": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "name",
          "media_type",
          "size"
        ],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "media_type": {
            "type": "string",
            "enum": [
              "image/jpeg",
              "image/png",
              "image/webp",
              "video/mp4",
              "video/webm",
              "audio/mpeg",
              "audio/wav"
            ]
          },
          "size": {
            "type": "integer",
            "format": "int64",
            "minimum": 1,
            "maximum": 2147483648
          }
        }
      },
      "CreateFilesResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "files"
        ],
        "properties": {
          "files": {
            "type": "array",
            "minItems": 1,
            "maxItems": 20,
            "items": {
              "$ref": "#/components/schemas/File"
            }
          }
        }
      },
      "CompleteFileRequest": {
        "type": "object",
        "additionalProperties": false
      },
      "File": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "id",
          "object",
          "status",
          "name",
          "media_type",
          "size"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/FileID"
          },
          "object": {
            "type": "string",
            "const": "file"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending_upload",
              "processing",
              "ready",
              "expired",
              "failed"
            ],
            "description": "完成上传后会开始异步元数据分析。请等到 ready 后再在 Job 中引用此文件。"
          },
          "width": {
            "type": "integer",
            "minimum": 1
          },
          "height": {
            "type": "integer",
            "minimum": 1
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "media_type": {
            "type": "string"
          },
          "size": {
            "type": "integer",
            "format": "int64",
            "minimum": 1
          },
          "upload": {
            "$ref": "#/components/schemas/FileUpload"
          },
          "url": {
            "type": "string"
          },
          "expires_at": {
            "type": "integer",
            "format": "int64",
            "minimum": 1
          }
        }
      },
      "FileUpload": {
        "type": "object",
        "description": "每个新上传都会得到分片（multipart）计划，Yir SDK 只接受分片上传。重放分片迁移之前创建的批次时，仍可能返回已退役的单次 PUT 计划，其结构不在本 Schema 内（type 为 \"single\"，带 method、url 和 headers）；这类批次无法通过 SDK 恢复，应重新创建。",
        "additionalProperties": false,
        "required": [
          "type",
          "parts",
          "expires_at"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "multipart"
            ]
          },
          "parts": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/UploadPart"
            }
          },
          "expires_at": {
            "type": "integer",
            "format": "int64",
            "minimum": 1
          }
        }
      },
      "UploadPart": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "part_number",
          "size",
          "url"
        ],
        "properties": {
          "part_number": {
            "type": "integer",
            "minimum": 1
          },
          "size": {
            "type": "integer",
            "format": "int64",
            "minimum": 1
          },
          "url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "ParameterNotice": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "name",
          "disposition",
          "reason",
          "message"
        ],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "disposition": {
            "type": "string",
            "const": "ignored"
          },
          "reason": {
            "type": "string",
            "enum": [
              "channel_parameter_unsupported",
              "quality_requires_official_channel"
            ]
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ChannelParameters": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "provider",
          "channel_variant",
          "operation",
          "input_mode",
          "parameter_rules"
        ],
        "description": "声明的公开参数处理方式，与运行时的路由可用性无关。",
        "properties": {
          "provider": {
            "type": "string"
          },
          "channel_variant": {
            "type": "string"
          },
          "operation": {
            "enum": [
              "generate_image",
              "generate_video"
            ]
          },
          "input_mode": {
            "enum": [
              "text",
              "image",
              "reference"
            ]
          },
          "parameter_rules": {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "quality": {
                "$ref": "#/components/schemas/ParameterRule"
              }
            }
          }
        }
      },
      "ParameterRule": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "behavior",
          "description"
        ],
        "properties": {
          "behavior": {
            "enum": [
              "supported",
              "ignored",
              "rejected"
            ]
          },
          "values": {
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string"
            }
          },
          "reason": {
            "type": "string"
          },
          "description": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "zh",
              "en"
            ],
            "properties": {
              "zh": {
                "type": "string"
              },
              "en": {
                "type": "string"
              }
            }
          }
        }
      },
      "ModelDetail": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "id",
          "object",
          "specifications"
        ],
        "properties": {
          "channel_parameters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChannelParameters"
            }
          },
          "id": {
            "type": "string",
            "pattern": "^[a-z0-9._-]+/[a-z0-9._-]+$"
          },
          "object": {
            "type": "string",
            "const": "model"
          },
          "specifications": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/ModelSpecification"
            }
          }
        }
      },
      "ModelSpecification": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "request_model_id",
          "operation",
          "input_mode",
          "specification_label",
          "currency",
          "channels"
        ],
        "properties": {
          "request_model_id": {
            "type": "string",
            "pattern": "^[a-z0-9._-]+/[a-z0-9._-]+$"
          },
          "operation": {
            "type": "string",
            "enum": [
              "generate_image",
              "generate_video"
            ]
          },
          "input_mode": {
            "type": "string",
            "enum": [
              "text",
              "image",
              "reference"
            ]
          },
          "specification_label": {
            "type": "string",
            "minLength": 1
          },
          "currency": {
            "type": "string",
            "const": "USD"
          },
          "channels": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/ModelChannelPrice"
            }
          }
        }
      },
      "ModelChannelPrice": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "provider_code",
          "provider_label",
          "availability",
          "estimated",
          "specification_label"
        ],
        "properties": {
          "provider_code": {
            "type": "string",
            "minLength": 1
          },
          "provider_label": {
            "type": "string",
            "minLength": 1
          },
          "amount_micros": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "availability": {
            "type": "string",
            "enum": [
              "available",
              "unavailable"
            ]
          },
          "estimated": {
            "type": "boolean"
          },
          "specification_label": {
            "type": "string",
            "minLength": 1
          }
        }
      },
      "ModelContractCatalog": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "schema_version",
          "schema_ref",
          "models"
        ],
        "properties": {
          "schema_version": {
            "type": "string",
            "const": "v1"
          },
          "schema_ref": {
            "type": "string",
            "const": "./standard-openapi.json#/components/schemas/ModelContractCatalog"
          },
          "version": {
            "type": "string",
            "pattern": "^[a-f0-9]{64}$",
            "description": "API 响应中返回；SDK 附带的静态合同文件中省略。"
          },
          "models": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/StaticModelContract"
            }
          }
        },
        "description": "与语言无关的静态模型合同，随本次 Standard OpenAPI 版本生成。不含运行时的价格、健康状况、授权与路由数据。"
      },
      "ModelContractList": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "schema_version",
          "schema_ref",
          "version",
          "models"
        ],
        "properties": {
          "schema_version": {
            "type": "string",
            "const": "v1"
          },
          "schema_ref": {
            "type": "string",
            "const": "./standard-openapi.json#/components/schemas/ModelContractCatalog"
          },
          "version": {
            "type": "string",
            "pattern": "^[a-f0-9]{64}$"
          },
          "models": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/ModelContractSummary"
            }
          }
        }
      },
      "ModelContractSummary": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "id",
          "aliases",
          "locales"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[a-z0-9._-]+/[a-z0-9._-]+$"
          },
          "aliases": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1
            },
            "uniqueItems": true
          },
          "locales": {
            "$ref": "#/components/schemas/ModelContractLocales"
          }
        }
      },
      "ModelContractDetail": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "schema_version",
          "schema_ref",
          "version",
          "model"
        ],
        "properties": {
          "schema_version": {
            "type": "string",
            "const": "v1"
          },
          "schema_ref": {
            "type": "string",
            "const": "./standard-openapi.json#/components/schemas/ModelContractCatalog"
          },
          "version": {
            "type": "string",
            "pattern": "^[a-f0-9]{64}$"
          },
          "model": {
            "$ref": "#/components/schemas/StaticModelContract"
          }
        }
      },
      "StaticModelContract": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "id",
          "aliases",
          "locales",
          "operations"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[a-z0-9._-]+/[a-z0-9._-]+$"
          },
          "aliases": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1
            },
            "uniqueItems": true
          },
          "locales": {
            "$ref": "#/components/schemas/ModelContractLocales"
          },
          "operations": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/StaticModelOperationContract"
            }
          }
        }
      },
      "StaticModelOperationContract": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "operation",
          "input_modes",
          "input_constraints",
          "request_schema",
          "parameters"
        ],
        "properties": {
          "operation": {
            "type": "string",
            "enum": [
              "generate_image",
              "generate_video"
            ]
          },
          "input_modes": {
            "type": "array",
            "minItems": 1,
            "uniqueItems": true,
            "items": {
              "type": "string",
              "enum": [
                "text",
                "image",
                "reference"
              ]
            }
          },
          "input_constraints": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/StaticModelInputConstraint"
            }
          },
          "request_schema": {
            "type": "string",
            "pattern": "^#/components/schemas/[A-Za-z0-9]+$"
          },
          "parameters": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/StaticModelParameterContract"
            }
          }
        }
      },
      "StaticModelInputConstraint": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "min_references",
          "max_references",
          "allowed_reference_roles"
        ],
        "properties": {
          "min_references": {
            "type": "integer",
            "minimum": 0
          },
          "max_references": {
            "type": "integer",
            "minimum": 0
          },
          "allowed_reference_roles": {
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string",
              "enum": [
                "first_frame",
                "last_frame",
                "reference_image",
                "reference_video",
                "reference_audio"
              ]
            }
          },
          "required_reference_roles": {
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string",
              "enum": [
                "first_frame",
                "last_frame",
                "reference_image",
                "reference_video",
                "reference_audio"
              ]
            }
          },
          "max_duration_by_reference_role": {
            "type": "object",
            "description": "存在该角色的参考输入时，生成视频的最大时长（秒）；不是输入媒体的时长。",
            "additionalProperties": {
              "type": "integer",
              "minimum": 1
            }
          },
          "reference_counts_by_role": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "minimum",
                "maximum"
              ],
              "properties": {
                "minimum": {
                  "type": "integer",
                  "minimum": 0
                },
                "maximum": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            }
          },
          "required_any_reference_roles": {
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string",
              "enum": [
                "first_frame",
                "last_frame",
                "reference_image",
                "reference_video",
                "reference_audio"
              ]
            }
          }
        }
      },
      "StaticModelParameterContract": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "name",
          "type",
          "required",
          "control",
          "locales"
        ],
        "properties": {
          "name": {
            "type": "string",
            "pattern": "^[a-z][a-z0-9_]*$"
          },
          "type": {
            "type": "string",
            "enum": [
              "string",
              "integer",
              "number",
              "boolean"
            ]
          },
          "required": {
            "type": "boolean",
            "description": "合同未发布默认值、请求必须传该参数时为 true。有默认值的参数是可选的：省略时按该默认值执行并计费。"
          },
          "values": {
            "type": "array",
            "minItems": 1,
            "uniqueItems": true,
            "items": {
              "$ref": "#/components/schemas/ModelParameterValue"
            }
          },
          "default": {
            "$ref": "#/components/schemas/ModelParameterValue",
            "description": "省略该参数时采用的值。只有必填参数和 quality 没有默认值；省略 quality 表示不约束。"
          },
          "minimum": {
            "type": "number"
          },
          "maximum": {
            "type": "number"
          },
          "control": {
            "type": "string",
            "enum": [
              "select",
              "aspect_ratio",
              "number",
              "toggle",
              "file",
              "text"
            ]
          },
          "locales": {
            "$ref": "#/components/schemas/ModelContractLocales"
          }
        }
      },
      "ModelParameterValue": {
        "oneOf": [
          {
            "type": "string"
          },
          {
            "type": "number"
          },
          {
            "type": "boolean"
          }
        ]
      },
      "ModelContractLocales": {
        "type": "object",
        "minProperties": 1,
        "additionalProperties": {
          "$ref": "#/components/schemas/ModelContractLocale"
        }
      },
      "ModelContractLocale": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "label",
          "description"
        ],
        "properties": {
          "label": {
            "type": "string",
            "minLength": 1
          },
          "description": {
            "type": "string",
            "minLength": 1
          }
        }
      }
    }
  }
}
