openapi: 3.1.0
info:
  title: YIR Source-Compatible Gateway
  version: 0.1.0
  description: Source-compatible routes for long-running multimodal generation tasks.
servers:
  - url: https://api.yir.ai
    description: Production
tags:
  - name: KIE-compatible
    description: KIE-compatible generation task routes.
security:
  - YIRApiKey: []
paths:
  /x-router/kie/api/v1/jobs/createTask:
    post:
      tags:
        - KIE-compatible
      operationId: createKieCompatibleTask
      summary: Create a KIE-compatible task
      description: Creates or passes through a KIE-compatible generation task through YIR.
      security:
        - YIRApiKey: []
      parameters:
        - $ref: "#/components/parameters/Authorization"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
            examples:
              gptImage2:
                summary: GPT Image 2 text-to-image request
                value:
                  model: gpt-image-2
                  input:
                    prompt: A clean product photo of a matte black desk lamp
                  callBackUrl: https://example.com/yir/kie-callback
      responses:
        "200":
          description: KIE-compatible task creation response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KIECreateTaskResponse"
        "400":
          description: Invalid request or missing upstream credentials.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Missing or invalid YIR API key.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /x-router/kie/api/v1/jobs/recordInfo:
    get:
      tags:
        - KIE-compatible
      operationId: getKieCompatibleTaskRecord
      summary: Get KIE-compatible task status
      description: Returns a KIE-compatible task status payload for a YIR-managed or passthrough KIE task.
      security:
        - YIRApiKey: []
      parameters:
        - $ref: "#/components/parameters/Authorization"
        - name: taskId
          in: query
          required: true
          schema:
            type: string
          description: KIE task id or YIR-managed task id.
      responses:
        "200":
          description: KIE-compatible task status response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KIERecordInfoResponse"
        "400":
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Missing or invalid YIR API key.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
components:
  securitySchemes:
    YIRApiKey:
      type: apiKey
      in: header
      name: X-YIR-API-Key
      description: YIR gateway API key. The upstream provider Authorization header remains separate.
  parameters:
    Authorization:
      name: Authorization
      in: header
      required: false
      schema:
        type: string
      description: Original upstream provider credential, usually `Bearer <upstream_key>`.
  schemas:
    ErrorResponse:
      type: object
      additionalProperties: true
      properties:
        code:
          type: string
          description: Machine-readable error code when available.
        message:
          type: string
          description: Human-readable error message.
    KIECreateTaskResponse:
      type: object
      additionalProperties: true
      properties:
        code:
          type: integer
          description: KIE-compatible response code.
        msg:
          type: string
          description: KIE-compatible message.
        data:
          type: object
          additionalProperties: true
          properties:
            taskId:
              type: string
              description: Task id returned to the client.
    KIERecordInfoResponse:
      type: object
      additionalProperties: true
      properties:
        code:
          type: integer
          description: KIE-compatible response code.
        msg:
          type: string
          description: KIE-compatible message.
        data:
          type: object
          additionalProperties: true
          properties:
            taskId:
              type: string
            state:
              type: string
              description: KIE-compatible task state mapped from YIR or upstream state.
            resultJson:
              type: string
              description: Source-compatible result payload when available.
